<div class="center">
  <div class="posted_feeds">
    <ul>
      <li><%= @feed.user.name %></li>
      <li><%= image_tag @feed.image.url %></li>
      <li><%= @feed.content %></li>
    </ul>

    <% if logged_in? %>
      <% unless @feed.user_id == current_user.id %>
        <% if @favorite.present? %>
          <%= link_to 'お気に入り解除する', favorite_path(id: @favorite.id), method: :delete, class: 'btn btn-danger' %>
        <% else %>
          <%= link_to 'お気に入りする', favorites_path(feed_id: @feed.id), method: :post, class: 'btn btn-primary' %>
        <% end %>
      <% end %>

      <% if @feed.user_id == current_user.id %>
        <%= link_to 'Edit', edit_feed_path(@feed) %>
      <% end %>
    <% end %>

    <%= link_to 'Back', feeds_path %>
  </div>
</div>
