<h1><%= @user.name %>のページ</h1>
  <table>
    <tr>
      <td>名前:</td>
      <td><%= @user.name %></td>
    </tr>
    <tr>
      <td>メールアドレス:</td>
      <td><%= @user.email %></td>
    </tr>
    <tr>
      <td>プロファイル画像</td>
      <td><%= image_tag(@user.profile_photo.url) if @user.profile_photo && @user.profile_photo.url %></td>
    </tr>
  </table>

  <p class="center"><%= link_to "お気に入り投稿一覧", favorites_user_path(@user.id) %></p>
  <% if logged_in? && current_user.id == @user.id %>
    <p class="center"> <%= link_to "編集する", edit_user_path(@user.id) %></p>
  <% end %>
