<!DOCTYPE html>
<html>
  <head>
    <title>KadaiApp3</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <header>
        <div class="menu-bar">
          <span class = "logo"><%= link_to "Clone App", feeds_path %></span>
          <div class="right">
            <% if logged_in? %>
              <span>ログイン中</span>
              <%= current_user.name %>
              <%= link_to "Profile", user_path(current_user.id) %>
              <%= link_to "Logout", session_path(current_user.id), method: :delete %>
            <% else %>
              <%= link_to "Sign up", new_user_path %>
              <%= link_to "Login", new_session_path %>
            <% end %>
          </div>
        </div>
      </header>
      <div class="center">
        <% flash.each do |key, value| %>
        <%= content_tag(:div, value, class: "#{key}") %>
        <% end %>
      </div>

      <%= yield %>

      <footer>copyright (c)【2020】 【CloneApp】 all rights reserved.</footer>
    </div>
  </body>
</html>
